{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with item=item %}Approve {{ item }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-approval{% endblock %}
{% block content %}

{% trans "Approve" as title_str %}
{% include "wagtailadmin/shared/header.html" with title=title_str subtitle=item icon="tick" %}

<div class="row row-flush nice-padding">
  <form action="{% url 'wagtailapproval:approve' uuid=ticket.uuid|stringformat:'s' %}" method="POST">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to approve of this item?" %}</p>
    <label for="note">{% trans "Approval Note" %}</label>
    <input name="note" id="note" type="text" />
    <input class="button" type="submit" value="{% trans 'Yes, I approve' %}">
  </form>
</div>
{% endblock %}

{% block extra_css %}
{% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
{% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
