{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with item=item %}Cancel {{ item }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-approval{% endblock %}
{% block content %}

{% trans "Cancel" as title_str %}
{% include "wagtailadmin/shared/header.html" with title=title_str subtitle=item icon="cross" %}

<div class="row row-flush nice-padding">
  <form action="{% url 'wagtailapproval:cancel' uuid=ticket.uuid|stringformat:'s' %}" method="POST">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to cancel this item?" %}</p>
    <label for="note">{% trans "Cancellation Note" %}</label>
    <input name="note" id="note" type="text" />
    <input class="button no" type="submit" value="{% trans 'Yes, cancel it' %}">
  </form>
</div>
{% endblock %}

{% block extra_css %}
{% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
{% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
