{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load wagtailadmin_tags %}
{% block titletag %}{% blocktrans with title=step.title %}Approval Admin: Step {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-approvaladmin{% endblock %}
{% block content %}

<header class="nice-padding merged">
  <div class="row row-flush">
    <div class="left">
      <h1 class="col icon icon-cog">{% blocktrans with title=step.title %}Approval Admin: Step {{ title }}{% endblocktrans %}</h1>
    </div>
  </div>
</header>

{% if approval_list %}
{% include "wagtailapproval/ticket_list.html" %}
{% else %}
<div class="nice-padding">{% blocktrans with title=step.title %}There are no pending tickets in step {{ title }}!{% endblocktrans %}</div>
{% endif %}
{% endblock %}
