{% load i18n %}
{% load wagtailapproval_admin %}

<table class="listing full-width">
  <colgroup>
    <thead>
      <tr class="table-headers">
        <th class="title">Step Title</th>
        <th class="notes">Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for step in steps %}
      <tr>
        <td class="title">
          <h2>
            <a href="{% admin_step_url step %}">
              {{ step.title }}
            </a>
          </h2>
        </td>
        <td class="notes">
          {{ step.notes }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
